* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana;
  color: #333;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='1800' preserveAspectRatio='none' viewBox='0 0 1440 1200'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1016%26quot%3b)' fill='none'%3e%3crect width='1440' height='1200' x='0' y='0' fill='url(%23SvgjsLinearGradient1017)'%3e%3c/rect%3e%3cpath d='M0 0L239.18 0L0 562.69z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M0 562.69L239.18 0L890.28 0L0 821.82z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M0 821.82L890.28 0L957.8399999999999 0L0 992.8800000000001z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M0 992.8800000000001L957.8399999999999 0L1167.6 0L0 1066.71z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M1440 1200L959.3399999999999 1200L1440 821.53z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M1440 821.53L959.3399999999999 1200L773.7499999999999 1200L1440 818.42z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M1440 818.42L773.75 1200L608.44 1200L1440 573.93z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M1440 573.93L608.44 1200L502.61000000000007 1200L1440 311.19999999999993z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1016'%3e%3crect width='1440' height='1200' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='4.17%25' y1='-5%25' x2='95.83%25' y2='105%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1017'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='%2300459e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-color: rgb(51, 55, 55);
  background-position: center;
  background-size:cover;
}

button {
  background-color: #fdfdfd;
  color: #1D4068;
  border: 2px solid #102f5e;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 360px;
  transition: 0.5s;
}
#logo{
  float: left;
  color: black;
  font-size: 2rem;
}

button:hover {
  background-color: #1D4068;
}

button:hover > i {
  color: #fff;
}

button i {
  pointer-events: none;
  color: #102f5e;
  font-weight: bold;
}
.finish-todo i {
  color: green;
}
.edit i{
  color: green;
}
.edit-todo i{
  color: rgba(131, 129, 8, 0.712);
}
.remove-todo i{
  color: rgb(128, 0, 0);
}
#addAtarefa i{
  font-size: 20px;
  font-weight: bold;
color: #1D4068;
}
#addAtarefa {
  background-color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 5px;
  padding:  0 1rem;
  }
  #addAtarefa:hover {
   background-color: #1D4068;;
    }
    #addAtarefa:hover > i {
      color: #fefeff;;
       }
       .remove-todo:hover::before {
        content: "Clique para realizar a ação";
        position: absolute;
        top: -30px;
        left: 0;
        background-color: #333;
        color: #fff;
        padding: 10px;
        border-radius: 5px;
        font-size: 14px;
      }
      
  

input,
select {
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  border: 2px solid black;
}

.hide {
  display: none;
}

/* Todo Header */
.todo-container {
  max-width: 850px;
  margin: 3rem auto 0;
  background-color: #fdfdfd;
  padding: 1.5rem;
  border-radius: 15px;
}

.todo-container header {
  text-align: center;
  padding: 0 1rem 1rem;
  border-bottom: 1px solid #ccc;
}

/* Todo Form */
#todo-form,
#edit-form {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

#todo-form p,
#edit-form p {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-control {
  display: flex;
}

.form-control input {
  margin-right: 0.3rem;
}

#cancel-edit-btn {
  margin-top: 1rem;
  color: #444;
}

/* Todo Toolbar */
#toolbar {
  padding: 1rem;
  border-bottom: 2px solid #ccc;
  display: flex;
}

#toolbar h4 {
  margin-bottom: 0.5rem;
}

#search {
  border-right: 1px solid #ddd;
  padding-right: 1rem;
  margin-right: 1rem;
  width: 65%;
  display: flex;
  flex-direction: column;
}

#search form {
  display: flex;
}

#search input {
  width: 100%;
  margin-right: 0.3rem;
}

#filter {
  width: 35%;
  display: flex;
  flex-direction: column;
}

#filter select {
  flex: 1;
}

/* Todo List */
.todo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.3rem 1rem;
  border-bottom: 4px solid #ddd;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: 0.3s;
}
#todo-list:has(.todo:hover) .todo:not(:hover){
  opacity: .6;
  scale: .98;
}
.todo h3 {
  flex: 1;
  font-size: 0.9rem;
}

.todo button {
  margin-left: 0.4rem;
}

.done {
  background:#90b7e4;
  
}

.done h3 {
  color: black;
  text-decoration: line-through;
  font-style: italic;
}